nav ul a, nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #ee6e73;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width: 992px) {
  .parallax-container .section {
    position: absolute;
    top: 10%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width: 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}

footer.page-footer {
  margin: 0;
}

.parallax img {
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-container {
  color: black;
}

@media only screen and (max-width: 600px) {
  .parallax-container {
    color: white;
  }
}

nav a.button-collapse {
  color: black;
}

.purple.lighten-1 {
  background-color: #CC0066 !important;
}

.teal-text.text-lighten-2 {
  color: #CC0066 !important;
}

.share-buttons {
  list-style: none;
}

.share-buttons li {
  display: inline;
}

nav {
  overflow: visible;
}

nav li a {
  -webkit-transition: background .3s ease-in-out;
  -moz-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;
}

.container_new {
  position: relative;
  height: 100vh;
}

.banner {
  position: relative;
  width: 100%;
  height: 100vh;
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: white;
  opacity: 100%;
  z-index: 2;
}

html {
  font-family: 'Lato', sans-serif !important;
  font-family: 'Montserrat', sans-serif !important;
}

.bounce {
  display: inline-block;
  position: relative;
  -moz-animation: bounce 0.5s infinite linear;
  -o-animation: bounce 0.5s infinite linear;
  -webkit-animation: bounce 0.5s infinite linear;
  animation: bounce 0.5s infinite linear;
  color: 000;
}

@-webkit-keyframes bounce {
  0% {
    top: 0;
  }
  50% {
    top: -0.2em;
  }
  70% {
    top: -0.3em;
  }
  100% {
    top: 0;
  }
}

@-moz-keyframes bounce {
  0% {
    top: 0;
  }
  50% {
    top: -0.2em;
  }
  70% {
    top: -0.3em;
  }
  100% {
    top: 0;
  }
}

@-o-keyframes bounce {
  0% {
    top: 0;
  }
  50% {
    top: -0.2em;
  }
  70% {
    top: -0.3em;
  }
  100% {
    top: 0;
  }
}

@-ms-keyframes bounce {
  0% {
    top: 0;
  }
  50% {
    top: -0.2em;
  }
  70% {
    top: -0.3em;
  }
  100% {
    top: 0;
  }
}

@keyframes bounce {
  0% {
    top: 0;
  }
  50% {
    top: -0.2em;
  }
  70% {
    top: -0.3em;
  }
  100% {
    top: 0;
  }
}

.grow {
  max-height: 250px;
  transition: max-height 2s ease-out;
  overflow: hidden;
  /* background: #d5d5d5; */
}

.grow:hover {
  max-height: 1500px;
  transition: max-height 2s ease-in;
}

.glow {
  /* color:#fff; */
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.glow:hover {
  color: #0d47a1;
  text-shadow: 0px 0px 30px #0d47a1;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.grow2 {
  max-height: 10px;
  transition: max-height 2s ease-out;
  overflow: hidden;
  /* background: #d5d5d5; */
}

.grow2:hover {
  max-height: 1500px;
  transition: max-height 2s ease-in;
}

.slide-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

#slide {
  opacity: 30%;
  position: absolute;
  right: -1080px;
  height: 80vh;
  transition: 1s;
  z-index: -1;
}

.slide-wrapper:hover #slide {
  transition: 1s;
  right: 100px;
}

.slide-left-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

#slide-left {
  position: absolute;
  left: -1080px;
  height: 80vh;
  transition: 1s;
  z-index: -1;
}

.slide-left-wrapper:hover #slide-left {
  transition: 1s;
  left: 100px;
}

.show-on-top {
  background: rgba(255, 255, 255, 0.5);
  z-index: 2;
}

/* Popup box BEGIN */

.hover_bkgr_fricc {
  background: rgba(0, 0, 0, .4);
  cursor: pointer;
  display: none;
  height: 100%;
  position: fixed;
  text-align: center;
  top: 0;
  width: inherit !important;
  z-index: 1000;
}

.hover_bkgr_fricc .helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.hover_bkgr_fricc>div {
  background-color: #fff;
  box-shadow: 10px 10px 60px #555;
  display: inline-block;
  height: auto;
  max-width: 551px;
  min-height: 100px;
  vertical-align: middle;
  width: 60%;
  position: relative;
  border-radius: 8px;
  padding: 15px 5%;
}

.popupCloseButton {
  background-color: #fff;
  border: 3px solid #999;
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  font-family: arial;
  font-weight: bold;
  position: absolute;
  top: -20px;
  right: -20px;
  font-size: 25px;
  line-height: 30px;
  width: 30px;
  height: 30px;
  text-align: center;
}

.popupCloseButton:hover {
  background-color: #ccc;
}

.trigger_popup_fricc {
  cursor: pointer;
  font-weight: bold;
}

/* Popup box BEGIN */